{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Pogoda</title>
    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">
            <ion-icon name="thunderstorm-outline"></ion-icon>
            Moja pogoda
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="navbar-nav me-auto">
            <!-- -->
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
         <form action="/">
             <div class="mb-3 mt-3">
               <!--  <label for="label" class="form-label">Wybierz miasto:</label> -->
                 {{city_choice_form|crispy }}
             </div>
             <button type="submit" class="btn btn-primary">Wybierz</button>
         </form>
         <br>
     <!-- Grid system do podziału głównego wyświtlanai danych -->
         <div class="row">
            <div class="col-sm-4 ">
                 <table class="table table-hover">
                    <thead class="table-primary">
                      <tr>
                        <th>Miasto : {{data.stacja}}</th>
                      </tr>
                    </thead>
                     <tbody>
                      <tr>
                        <td>
                            {% if data.suma_opadu > '3' %}
                                <!--Deszcz-->
                                <img src="{% static 'img/rain.png' %}"  class="rounded" alt="Image" width="250" height="250"/>
                            {% elif data.temperatura > '5' and data.wilgotnosc_wzgledna < '30' %}
                                <!--Słonecznie-->
                                <img src="{% static 'img/sun.png' %}"  class="rounded" alt="Image" width="250" height="250"/>
                            {% elif data.temperatura > '12' and data.wilgotnosc_wzgledna > '60'%}
                                <!--Pochmórnie  -->
                                <img src="{% static 'img/cloud.png' %}"  class="rounded" alt="Image" width="250" height="250"/>
                            {% elif data.temperatura > '12' and data.wilgotnosc_wzgledna > '31' %}
                                <!--Słonecznie z chmurką -->
                                <img src="{% static 'img/sun_and_cloud.png' %}"  class="rounded" alt="Image" width="250" height="250"/>
                            {% elif data.temperatura > '15 '%}
                                <!--Słonecznie-->
                                <img src="{% static 'img/sun.png' %}"  class="rounded" alt="Image" width="250" height="250"/>
                            {% elif data.suma_opadu > '3' and data.temperatura < '3' %}
                                <!--Opady śniegu-->
                                <img src="{% static 'img/snow.png' %}"  class="rounded" alt="Image" width="250" height="250"/>
                            {% else %}
                                <!--W przypadku braku dopasowia-->
                                <img src="{% static 'img/half_sun.png' %}"  class="rounded" alt="Image" width="250" height="250"/>
                            {%endif%}
                        </td>
                      </tr>
                     </tbody>
                 </table>
            </div>
            <div class="col-sm-8">
                <table class="table table-hover">
                    <thead class="table-primary">
                      <tr>
                        <th>Parametr</th>
                        <th>Wartość</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Temperatura</td>
                        <td>{{data.temperatura}} °C</td>
                      </tr>
                      <tr>
                        <td>Wilgotność</td>
                        <td> {{data.wilgotnosc_wzgledna}} %</td>
                      </tr>
                      <tr>
                        <td>Prędkość wiatru</td>
                        <td> {{data.predkosc_wiatru}} m/s</td>
                      </tr>
                      <tr>
                        <td>Cissnienie</td>
                        <td> {{data.cisnienie}} hPa</td>
                      </tr>
                      <tr>
                        <td>Data pomiaru</td>
                        <td> {{data.data_pomiaru}}</td>
                      </tr>
                      <tr>
                        <td>Godzina pomiaru</td>
                        <td> {{data.godzina_pomiaru}}:00</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12 ">
            <table class="table table-hover">
                    <thead class="table-primary">
                        <tr>
                            <th>Wykres temeparatury ostatnie 24h</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src="{% static 'img/plot_temp/my_plot.png' %}">
                            </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
         </div>

    </div>
    <!--Pobieranie ionicon -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>